TON_TESTNET=1
TON_PRIVATE_MNEMONIC=coffee and cigarettes
TON_API_URL=https://testnet.toncenter.com/api/v2/jsonRPC
TON_API_KEY=2abc

COLLECTION_META_URL=https://testing.json
COLLECTION_BASE_URL=https://testing/

TON_CONTRACT_OWNER=kQ6L

COLLECTOR_REWARD_AMOUNT=1.5
